<h3>Welcome to Paw Fit, your pets care is in good hands</h3>

<div class="new-pet">
    <button class="new-pet-btn">Add New Pet</button>
</div>

<h3>{{userData.first_name}}</h3>

<form class="pet-form">
  <label for="pname">Pet name:</label><br>
  <input type="text" id="pname" name="pname"><br>

  <label for="type">Pet Type:</label><br>
  <input type="text" id="type" name="type"><br>

  <label for="gender">Gender:</label><br>
  <input type="text" id="gender" name="gender"><br>

  <label for="color">Color:</label><br>
  <input type="text" id="color" name="color"><br>

  <label for="weight">Weight:</label><br>
  <input type="text" id="weight" name="weight"><br>

  <label for="breed">Breed:</label><br>
  <input type="text" id="breed" name="breed"><br>
  <input type="submit" value="Submit">

</form>



<h2>Current Pet Snapshot</h2>

<script src="/js/dashboard.js"></script>