<!-- Loop over each object in the projects array -->
    <h1>
    <a href='/login'>Welcome to PawFit!</a>
    <p class="under-cap">The all in one health app for your furry friend!</p>
    </h1>
<style>
h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    border: 30px;
    height: 200px;
    text-align: center;
    font-size: 100px;
    }

    .under-cap {
        font-size: 20px;
    }
    body {
        background-image: url(images/pet-background.jpg);
        background-position: down center;
        background-attachment: scroll;

    }


</style>
<script src='/js/welcome.js'></script>