.pet-form {
display: none;
}

.health-form {
    display: none;
}

.diet-form {
    display: none;
}

.activity-form {
    display: none;
}


/* .new-activity-btn {
    margin-top: 10px;
}

.new-diet-btn {
    margin-top: 10px;
}

.new-health-btn {
    margin-top: 10px;
} */

p {
    font-family: 'Lato', sans-serif; 
    font-family: 'Merriweather', serif;
} 


