.pet-form {
display: none;
}

.health-form {
    display: none;
}

.diet-form {
    display: none;
}

.activity-form {
    display: none;
}

p {
    font-family: 'Lato', sans-serif; 
    font-family: 'Merriweather', serif;
} 

